* {
  box-sizing: border-box;
}

body {
  background-color: #D3D3D3;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

button {
	position: relative;
	left:50%;
}

button {
	background: #696969;
	color: #ccc;
	width: 200px;
	height: 40px;
	border: 1px solid #000000;
	font-size: 16px;
	font-weight: bold;
	border-radius: 4px;
	transition: .6s;
	overflow: hidden;
}

button:focus {
	outline: none;
}

button:before {
	content: '';
	display: block;
	position: relative;
	background: rgba(255, 255, 255, .5);
	width: 60px;
	heigth: 100%;
	left: 0;
	top: 0;
	opacity: .5s;
	filter: blur(30px);
	transform: translate(-100px) scaleX(-15deg);
}

button:hover {
	background: #000000;
	cursor: poiner;
}

button:hover:before {
	transform: translateX(300px) skewX(-15deg);
	opacity: .6;
	transition: .7s;
}

button:hover:after {
	transform: translateX(300px) skewX(-15deg);
	opacity: 1;
	transition: .7s;
}
