<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
<meta charset="ISO-8859-1">
<title>Aggiungi Fotografia</title>
<link rel="stylesheet" href="css/aggiungiForm.css" />
<script defer
	src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
	<div class="mediumline"></div>
	<div class="smallline"></div>
	<div class="header">
		<h1 th:text="${funzionario.nome+' aggiungi una Fotografia'}">Benvenuto
			Admin</h1>
		<div>
			<a th:href="@{/logout}">
				<button class="btnlogout" type="button">Logout</button>
			</a>
		</div>
	</div>
	<div class="smallline"></div>
	<div class="navbar">
		<a th:href="@{/}">Home</a> <a th:href="@{/admin}">Richieste</a>
		<div class="dropdown">
			<button class="dropbtn">
				Album <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a th:href="@{/addalbum}">Aggiungi Album</a> <a
					th:href="@{/editalbum}">Modifica Album</a> <a
					th:href="@{/deletealbum}">Rimuovi Album</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">
				Fotografo <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a th:href="@{/addfotografo}">Aggiungi Fotografo</a> <a
					th:href="@{/editfotografo}">Modifica Fotografo</a> <a
					th:href="@{/deletefotografo}">Rimuovi Fotografo</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">
				Fotografia <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a th:href="@{/addfotografia}">Aggiungi Fotografia</a> <a
					th:href="@{/editfotografia}">Modifica Fotografia</a> <a
					th:href="@{/deletefotografia}">Rimuovi Fotografia</a>
			</div>
		</div>
	</div>
	<div class="central">
		<form class="loginbox" th:action="@{/addfotografia}"
			th:object="${fotografia}" method="post" enctype="multipart/form-data">
			<h2>Seleziona Album</h2>
			<label for="Album"></label> <select th:field="*{album}">
				<option th:each="album: ${album}" th:value="${album.primaryKey}"
					th:text="${album.primaryKey+' '+album.nome +' di '+album.fotografo.cognome + ' '+album.fotografo.nome}">
			</select>
			<h2>Nome Fotografia</h2>
			<input type="text" th:field="*{nome}"
				placeholder="Aggiungi Nome Fotografia">
			<h3>Aggiungi Foto</h3>
			<input type="file" name="imgFile" id="file" class="upload"
				multiple="multiple" /> <label for="file">Choose a file</label>
			<h2>Descrizione</h2>
			<textarea id="subject" th:field="*{descrizione}"
				placeholder="Scrivi Qualcosa.." style="height: 200px"></textarea>
			<input type="submit" name="" value="Conferma">
		</form>
	</div>
</body>
</html>