<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Aggiungi Fotografo</title>
<link rel="stylesheet" href="css/aggiungiForm.css" />
<script defer
	src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
	<div class="mediumline"></div>
	<div class="smallline"></div>
	<div class="header">
		<h1 th:text="${funzionario.nome+' aggiungi un Fotografo'}">Benvenuto
			Admin</h1>
		<div>
			<a th:href="@{/logout}">
				<button class="btnlogout" type="button">Logout</button>
			</a>
		</div>
	</div>
	<div class="smallline"></div>
	<div class="navbar">
		<a th:href="@{/}">Home</a> <a th:href="@{/admin}">Richieste</a>
		<div class="dropdown">
			<button class="dropbtn">
				Album <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a th:href="@{/addalbum}">Aggiungi Album</a> <a
					th:href="@{/editalbum}">Modifica Album</a> <a
					th:href="@{/deletealbum}">Rimuovi Album</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">
				Fotografo <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a th:href="@{/addfotografo}">Aggiungi Fotografo</a> <a
					th:href="@{/editfotografo}">Modifica Fotografo</a> <a
					th:href="@{/deletefotografo}">Rimuovi Fotografo</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">
				Fotografia <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a th:href="@{/addfotografia}">Aggiungi Fotografia</a> <a
					th:href="@{/editfotografia}">Modifica Fotografia</a> <a
					th:href="@{/deletefotografia}">Rimuovi Fotografia</a>
			</div>
		</div>
	</div>
	<div class="central">
		<form class="loginbox" th:action="@{/addfotografo}"
			th:object="${fotografo}" method="post" enctype="multipart/form-data">
			<h2>Nome</h2>
			<input type="text" th:field="*{nome}"
				placeholder="Aggiungi Nome Fotografo">
			<h2>Cognome</h2>
			<input type="text" th:field="*{cognome}"
				placeholder="Aggiungi Cognome Fotografo">
			<h3>Aggiungi Immagine Profilo</h3>
			<input type="file" name="imgFile" id="file" class="upload"
				multiple="multiple" /> <label for="file">Choose a file</label>
			<h2>Descrizione</h2>
			<textarea id="subject" name="subject" placeholder="Scrivi Qualcosa.."
				style="height: 200px"></textarea>
			<input type="submit" name="" value="Conferma">
		</form>
	</div>
</body>
</html>