<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Foto</title>
</head>
<body>

	<form action="#" th:action="@{/uploadImage}" th:object="${fotografia}"
		method="POST" enctype="multipart/form-data">


		<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
			<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
		</div>

		<span th:text="#{msg.nome}">Nome:</span>
		<input type="text" th:field="*{nome}" /> <span th:text="#{required.fotografia.nome}"></span>
		<br>
		<span th:text="#{msg.descrizione}">Descrizione:</span>
		<input type="text" th:field="*{descrizione}" value=""/> <br>
		<br>
		<input type="file" name="imgFile" multiple="multiple" />
		<input type="submit"
			value="Upload" />

	</form>

</body>
</html>