<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
body, html {
	height: 100%;
	margin: 0;
	text-align: center;
}

.bg {
	/* The image used */
	background-image: url("../static/img/errorPage.png");
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
</style>
<title>Error page</title>
<meta charset="utf-8" />
</head>
<body
	th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
	<div class="bg">	</div>
	<h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
	<h3>the rabbits have been nibbling the cables again..</h3>
	<a href="index" th:href="@{/}">Back to Home Page</a>
</body>
</html>